SaltedHashLoginModule-SHA256 {
    de.meetwithfriends.security.jaas.SaltedHashLoginModule required 
        dbDriver="org.h2.Driver"
        dbURL="jdbc:h2:mem:test"
        dbUser="sa"
        dbPassword="sa"
        userQuery="select salt, password from user where username = ?"
        roleQuery="select ro.name from role ro inner join roles_users rous on ro.id = rous.roles_id inner join user us on rous.users_id = us.id where us.username = ?"
        debug=true;
};

SaltedHashLoginModule-MD5 {
    de.meetwithfriends.security.jaas.SaltedHashLoginModule required 
        dbDriver="org.h2.Driver"
        dbURL="jdbc:h2:mem:test"
        dbUser="sa"
        dbPassword="sa"
        mdAlgorithm="MD5"
        userQuery="select salt, password from user where username = ?"
        roleQuery="select ro.name from role ro inner join roles_users rous on ro.id = rous.roles_id inner join user us on rous.users_id = us.id where us.username = ?"
        debug=true;
};